.container {
  display: flex; 
  height: 85vh;
  width: 97%;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 auto;
}

.customBackground {
  background-color: #3e3c61; 
}

.chatWindow {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: #eaeaee;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.conversation {
  display: flex;
  align-items: center;
  padding: 10px; 
  margin: 10px; 
  border-radius: 8px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.conversation.active {
  background-color: #4c4a7a; 
}

.conversation:hover {
  background-color: #4c4a7a; 
}

.chatInfo {
  height: 50px;
  background-color: #5d5b8d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: white;
}

.avatarContainer {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.avatarContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

